@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

@layer base {
    .txtstroke {
        -webkit-text-stroke: 30px #327972;
    }
    body{
        font-family: 'Kanit', sans-serif;
        background: #181818;
    }
    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #181818;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(17, 94, 89);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 118, 110);
  }
}